.{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body{
	background: #685a9d;
}

.grid{
	display: grid;
	grid-template-rows: 100px 600px 400px 400px 75px;
	gap: 10px;
	grid-template-areas: 
	"nav"
	"carrucel"
	"know"
	"proyect"
	"contact";
}

.nav{
	grid-area: nav;
	background: #a1cdf1;
	display: inline-block;
}
.nav > ul > li{
	display: inline-block;
	margin-left: 35px;
}
.nav > ul > li{
	
}
.carrucel{
	grid-area: carrucel;
	background: blue;
}
.carrucel > img{
	width: 600px;
	height: 600px;
}
.know{
	grid-area: know;
	background: blue;
}
.proyect{
	grid-area: proyect;
	background: blue;
}
.contact{
	grid-area: contact;
	background: blue;
}