.{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body{
	background: #A1CDF1;
}

.caja1{
	background: #78e0dc;
	margin: 50px 25px;
}
.caja2{
	background: #78e0dc;
	margin: 50px 25px;
}
.superior{
	background: #d496a7;
	width: 300px;
	height: 500px
}
.inferior{
	background: #9d695a;
	width: 200px;
	height: 500px;
}

@media (max-width: 800px){

	.superior{
		background: #d496a7;
		width: auto;
		height: 600px;
		margin:20px;
	}
	.inferior{
		background: #9d695a;
		width: auto;
		height: 600px;
		margin:20px;
	}
	h1,h2,p{
		text-align: center;
	}
}